*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    }

p{
    padding: 10px;
}
h3{
    padding-left: 10px;
}

.menumobile{
    display:none;
    height: 30px;
    text-align: center;
}

.site{
    width: 100%;
    max-width: 800px;
    margin: auto;
    background-color: #fff;
}
.topo{
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: orange;
    text-align: center;
}

.menu{
    width: 25%;
    height: 300px;
    float: left;
}

.menu ul,.menu li{
    margin: 0px;
    padding: 0px;
}

.menu li{
    list-style: none;
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
}

.center{
    width: 50%;
    height: 300px;
    float: left;
    padding: 5px;
}

.rightside{
    width: 25%;
    height: 300px;
    background-color: #ddd;
    float: right;
}
.rodape{
	clear:both;
	height:80px;
    background-color: orange;}

.imagem{
    margin: auto;
    width: 50%;
    }