*{
    box-sizing: border-box;
}

body{
    margin: center;
    font-size: 17px;
}

p{
    color: #0000ff;
    font-size: 30px;
    font-weight: bold;
    font-family: Helvetica,Arial,Verdana;
    text-align: left;
}

a{
    text-decoration: none;
    color: crimson;
}

a:hover{
    text-decoration: underline;
    color: #00ff00;
}
