*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-color: #eee;
}

form{
    width: 225px;
    height: 165px;
    background-color: #DDD;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
}

input{
    padding:5px;
    font-size: 13px ;
}